.header {
    background-color: rgb(66, 71, 77);
    .logo {
        h1 {
            color: white;
        }
    }
    .nav-menu {
        li {
            a {
                color: white;
                text-decoration: none;
                padding: 20px;
                    display: block;
            }
        }
    }
}
